.clear {
    clear: both;
}

button {
    cursor:pointer;
    outline: none;
}

a {
    cursor: pointer;
    color: black;
    font-weight: 500;
}

.top {
    position: fixed;
    color: brown;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    /* -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75); */
    /* -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75); */
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
}

.name {
    padding-left: 130px;
    display: inline;
}

.goods {
    padding-left: 80%;
    
}

.content {
    margin-top: 90px;
}

.middle1 {
    
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    width: 1300px;
    margin: auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(5, 20%); 
    grid-gap: 10px;
    /* grid-template-columns: repeat(5, 1fr);
    grid-template-columns: 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr;
    grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr; */
}

.card {
    width: 250px;
    height: 350px;
}

.image {
    width:250px;
    height:auto;
    border:0px;
}

.desc {
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    line-clamp:2;
    -webkit-box-orient: vertical;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    width: auto;
    align-content: flex-start;
}
.titl {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1em;
    font-weight: 500;
    color: gray;
}
.money {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 0.8em;
    font-weight: 500;
    color: red;
}